.login-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.login-logo {
    width: 250px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left {
    background-image: url('https://unsplash.com/photos/npxXWgQ33ZQ/download?force=true&w=1920');
    background-size: cover;
    background-position: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.login-box h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #0056FF;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    height: 48px;
    padding: 15px;
    border: 2px solid #0056FF;
    border-radius: 12px;
    font-size: 16px;
    background: none;
}

.form-group label {
    font-size: 1.1em;
    color: #0009FF;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    height: 48px;
    padding: 15px;
    margin-top: 8px;
    border: 2px solid #0056FF;
    border-radius: 12px;
    font-size: 16px;
}

.login-box input[type="submit"] {
    width: 100%;
    height: 49px;
    padding: 15px;
    margin: 20px 0;
    background-color: #090C9B;
    color: white;
    border: none;
    border-radius: 49px;
    font-size: 16px;
    cursor: pointer;
}

.login-box input[type="submit"]:disabled {
    background-color: #cccccc; /* Cambia el color de fondo a gris */
    cursor: not-allowed; /* Cambia el cursor a un tache */
    color: #666666; /* Color de texto más claro */
    border: none; /* Elimina el borde */
    opacity: 0.6; /* Reduce la opacidad para dar un aspecto deshabilitado */
}

.password-toggle {
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    cursor: pointer;
}

/* Contenedor que agrupa los enlaces */
.login-box .link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

/* Estilo para la línea divisoria */
.login-box .divider {
    width: 100%;
    height: 1px;
    background-color: #0056FF;
    margin: 10px 0;
    position: relative;
}

/* Alinea el texto a la derecha */
.login-box a {
    color: #0056FF;
    text-decoration: none;
    text-align: right;
    margin-left: 10px;
}

.login-box a:hover {
    text-decoration: underline;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
        padding: 20px;
    }

    .login-box {
        max-width: 100%;
    }
}
