<div class="login-container">
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <div class="login-box">
                <img src="Picture1.png" alt="Logo" class="login-logo">
                <h2>Ingresar</h2>
                <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
                    <div class="form-group">
                        <label for="email">Correo</label>
                        <input type="email" name="email" [(ngModel)]="loginObj.email" id="email" 
                        placeholder="example@example.com" required
                        pattern="^[\w-\.]+@([\w-]+\.)+(com|com\.mx)$">
                        <div *ngIf="loginForm.submitted && loginForm.controls['email']?.invalid" [ngClass]="{'error': true}">
                            El correo es obligatorio y debe tener un formato válido.
                        </div>                        
                    </div>
                    <div class="form-group" style="position:relative;">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" name="contrasena" [(ngModel)]="loginObj.contrasena" id="contrasena" placeholder="*******" required>
                        <div *ngIf="loginForm.submitted && loginForm.controls['contrasena']?.invalid" class="error">
                            La contraseña es obligatoria.
                        </div>
                    </div>
                    <input type="submit" [disabled]="loginForm.invalid" value="Iniciar sesión">
                    <div class="link-container">
                        <a href="#">Olvidé mi contraseña</a>
                        <div class="divider"></div>
                        <a href="/auth/sign-up">¿Aún no tienes cuenta? Regístrate</a>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- Footer incluido en la estructura -->
</div>
