<nav class="navbarEmpleos">
  <div class="brand">
    <img src="logoblanco.png" alt="Logo" class="logo">
  </div>
  <div class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/">Sobre nosotros</a></li>
    <!-- Mostrar enlaces si no está autenticado -->
    <ng-container *ngIf="!isAuthenticated">
      <li><a routerLink="/auth/login">Acceder</a></li>
      <li><a routerLink="/auth/sign-up">Regístrate</a></li>
    </ng-container>
    <!-- Mostrar círculo de perfil si está autenticado -->
    <ng-container *ngIf="isAuthenticated">
      <li class="profile-circle"></li>
    </ng-container>
  </ul>
</nav>
