<div class="carousel-container">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="carrusel.png" class="d-block w-100" alt="First Slide">
            </div>
        </div>
    </div>
    <!-- Barra de búsqueda superpuesta -->
    <div class="search-bar">
        <h1>Encuentra el mejor <span>empleo</span> para ti</h1>
        <div class="search-container">
            <input type="text" placeholder="Buscar..." class="search-input">
            <button class="search-btn">Buscar</button>
        </div>
    </div>
</div>
