<div class="body">
  <div class="formulario">
    <!-- Form 1: Nombre -->
    <div *ngIf="currentStep === 1" class="form-1">
      <div class="container">
        <h1><i class="fa fa-user-o"></i>&nbsp; Datos personales </h1>
        <div class="form-group">
          <label *ngIf="!nombreTouched || isNotEmpty(nombre)" for="nombre">Nombre</label>
          <label *ngIf="nombreTouched && !isNotEmpty(nombre)" for="nombre" class="error">
            Debes agregar un nombre!
          </label>
          <input id="nombres" type="text" [(ngModel)]="nombre" (blur)="nombreTouched = true" />
        </div>
        <div class="form-group">
          <label *ngIf="!apellidosTouched || isNotEmpty(apellidos)" for="apellidos">Apellido</label>
          <label *ngIf="apellidosTouched && !isNotEmpty(apellidos)" for="apellidos" class="error">
            Debes agregar apellidos!
          </label>
          <input id="apellido" type="text" [(ngModel)]="apellidos" (blur)="apellidosTouched = true" />
        </div>
        <button class="conti-1" (click)="nextStep()" [disabled]="!isForm1Valid()">Siguiente &nbsp;></button>
      </div>
    </div>
    
    <!-- Form 2: Datos personales -->
    <div *ngIf="currentStep === 2" class="form-2">
      <div class="container">
        <h1><i class="fa fa-user-o"></i>&nbsp; Datos personales </h1>
        <div class="form-group">
          <label *ngIf="isPhoneValid(telefono) || !telefonoTouched" for="telefono">Teléfono</label>
          <label *ngIf="!isPhoneValid(telefono) && telefonoTouched" for="telefono" class="error">
            El teléfono debe tener 10 dígitos!.
          </label>
          <input id="telefono" type="tel" [(ngModel)]="telefono" (blur)="telefonoTouched = true"/>
        </div>
        <div class="form-group">
          <label *ngIf="!fechaNacimientoTouched || isNotEmpty(fechaNacimiento)" for="fechaNacimiento">Fecha de Nacimiento</label>
          <label *ngIf="fechaNacimientoTouched && !isNotEmpty(fechaNacimiento)" for="fechaNacimiento" class="error">
            Debes agregar una fecha de nacimiento!.
          </label>
          <input id="fechaNacimiento" type="date" [(ngModel)]="fechaNacimiento" (blur)="fechaNacimientoTouched = true" />
        </div>
        <button class="conti-1" (click)="nextStep()" [disabled]="!isForm2Valid()">Siguiente &nbsp;></button>
      </div>
    </div>

    <!-- Form 3: Ubicacion -->
    <div *ngIf="currentStep === 3" class="form-3">
      <div class="container">
        <h1><i class="fa fa-compass"></i>&nbsp; Ubicación </h1>
        <!-- Select para Estado -->
        <div class="form-group">
          <label *ngIf="!estadoTouched || isNotEmpty(estado)" for="estado">Estado</label>
          <label *ngIf="estadoTouched && !isNotEmpty(estado)" for="estado" class="error">
            Debes seleccionar un estado!
          </label>
          <select id="estado" [(ngModel)]="estado" (change)="onEstadoChange(estado)" (blur)="estadoTouched = true" required>
            <option value="" disabled selected>Selecciona tu estado</option>
            <option *ngFor="let estado of estados" [value]="estado.cvegeo">{{ estado.nomgeo }}</option>
          </select>
        </div>

        <!-- Select para Municipio -->
        <div class="form-group">
          <label *ngIf="!municipioTouched || isNotEmpty(municipio)" for="municipio">Municipio</label>
          <label *ngIf="municipioTouched && !isNotEmpty(municipio)" for="municipio" class="error">
            Debes seleccionar un municipio!
          </label>
          <select id="municipio" [(ngModel)]="municipio" (change)="onMunicipioChange(municipio)" (blur)="municipioTouched = true" required>
            <option value="" disabled selected>Selecciona tu municipio</option>
            <option *ngFor="let municipio of municipios" [value]="municipio.cvegeo">{{ municipio.nomgeo }}</option>
          </select>
        </div>

        <!-- Select para Localidad -->
        <div class="form-group">
          <label *ngIf="!localidadTouched || isNotEmpty(localidad)" for="localidad">Localidad</label>
          <label *ngIf="localidadTouched && !isNotEmpty(localidad)" for="localidad" class="error">
            Debes seleccionar una localidad!
          </label>
          <select id="localidad" [(ngModel)]="localidad" (blur)="localidadTouched = true" required>
            <option value="" disabled selected>Selecciona tu localidad</option>
            <option *ngFor="let localidad of localidades" [value]="localidad.cvegeo">{{ localidad.nomgeo }}</option>
          </select>
        </div>


          <button class="back" (click)="previousStep()"><&nbsp; Anterior</button>
          <button class="conti-3" (click)="nextStep()" [disabled]="!isForm3Valid()">Siguiente &nbsp;></button>
        </div>
      </div>

    <!-- Form 4: Credenciales -->
    <div *ngIf="currentStep === 4" class="form-4">
      <div class="container">
        <app-notification *ngIf="errorMessage" [message]="errorMessage" [isError]="true"></app-notification>
        <h1><i class="fa fa-list-alt"></i>&nbsp; Credenciales </h1>
        <div class="form-group">
          <label *ngIf="isEmailValid(correo) || !emailTouched" for="correo">Correo</label>
          <label *ngIf="!isEmailValid(correo) && emailTouched" for="correo" class="error">
            El correo no es válido. Debe contener "&#64;" y un formato válido!
          </label>
          <input id="correo" type="email" [(ngModel)]="correo" (blur)="emailTouched = true"/>
        </div>
        <div class="form-group">
          <label *ngIf="isPasswordValid(contrasena) || !passwordTouched" for="contrasena">Contraseña</label>
          <label *ngIf="!isPasswordValid(contrasena) && passwordTouched" for="contrasena" class="error">
            La contraseña debe tener al menos 6 caracteres!
          </label>
          <input id="contrasena" type="password" [(ngModel)]="contrasena" (blur)="passwordTouched = true"/>
        </div>
        <div class="form-group">
          <label *ngIf="doPasswordsMatch(contrasena, confirmPass) || !confirmPassTouched" for="confirmPass">Confirmar Contraseña</label>
          <label *ngIf="!doPasswordsMatch(contrasena, confirmPass) && confirmPassTouched" for="confirmPass" class="error">
            Las contraseñas no coinciden!
          </label>
          <input id="confirmPass" type="password" [(ngModel)]="confirmPass" (blur)="confirmPassTouched = true" required />
        </div>
        <button class="back" (click)="previousStep()"><&nbsp; Anterior</button>
        <button class="conti-4" (click)="finishRegister()" [disabled]="!isForm4Valid()">Siguiente &nbsp;></button>
      </div>
    </div>

    <!-- Form 5: Felicitaciones -->
    <div *ngIf="currentStep === 5" class="form-5">
      <div class="container">
        <h1>¡Muy bien! ahora revisa tu correo para verificar tu cuenta...</h1>
        <button (click)="goToSignIn()" class="conti-3">Continuar</button>
      </div>
    </div>
  </div>

  <!-- Barra de progreso (los iconos no serán clickeables en el paso 4) -->
  <div class="progress-bar" [ngClass]="{ 'progress-final': currentStep === 5 }">
      <div class="step-1">
        <i class="fa fa-user-o bot-icon-1" 
           [ngClass]="{ 'disabled-icon': currentStep === 6 }"
           (click)="currentStep !== 5 ? goToStep(1) : null"
           [class.active]="currentStep >= 1"></i>
        <div class="line-1" [ngStyle]="{'background-color': currentStep > 1 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-user-o bot-icon-2" 
           [ngClass]="{ 'disabled-icon': currentStep === 5 }"
           (click)="currentStep !== 5 ? goToStep(2) : null"
           [class.active]="currentStep >= 2"></i>
        <div class="line-2" [ngStyle]="{'background-color': currentStep > 2 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-compass bot-icon-3" 
           [ngClass]="{ 'disabled-icon': currentStep === 5 }"
           (click)="currentStep !== 5 ? goToStep(3) : null"
           [class.active]="currentStep >= 3"></i>
        <div class="line-3" [ngStyle]="{'background-color': currentStep > 3 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-list-alt bot-icon-4" 
           [ngClass]="{ 'disabled-icon': currentStep === 5 }"
           (click)="currentStep !== 5 ? goToStep(4) : null"
           [class.active]="currentStep >= 4"></i>
        <div class="line-4" [ngStyle]="{'background-color': currentStep > 4 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
