<div class="more-section">
    <div class="global-stats">
        <h3>Impacto Global</h3>
        <div class="stats-grid">
            <div class="stat-item">
                <h4>+200,000</h4>
                <p>Empleos ofrecidos en México</p>
            </div>
            <div class="stat-item">
                <h4>+50,000</h4>
                <p>Personas sin estudios conectadas con empleos</p>
            </div>
            <div class="stat-item">
                <h4>30 países</h4>
                <p>Presencia global</p>
            </div>
        </div>
    </div>

    <div class="join-us">
        <p>
            ¡Únete a nuestra comunidad hoy y encuentra la oportunidad que has estado esperando!
        </p>
    </div>
</div>
