:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../../../../../public/sign-up.jpg');
  background-size: 37rem;
  background-position: right 13% top;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

.container {
  width: 100%;
  padding: 0 13%;
}

.clearfix {
  clear: both;
}

.form-1, 
.form-2, 
.form-3 h1 {
  color: #3066be;
}

h1 {
  margin-bottom: 16px;
}

.form-1, 
.form-2, 
.form-3, 
.form-4 {
  padding-top: 7%;
}

.form-group {
  text-align: left;
  margin-bottom: 0.9375rem;
}

.form-group select {
  display: block;
  width: 35%;
  height: 3rem;
  padding: 0 0.9375rem;
  border: 2px solid #3066be;
  border-radius: 0.75rem;
  font-size: 1rem;
  background: none;
  color: #000; /* Para asegurar que el texto seleccionado sea visible */
}

.form-group input {
  display: block;
  width: 35%;
  height: 3rem;
  padding: 0.9375rem;
  border: 2px solid #3066be;
  border-radius: 0.75rem;
  font-size: 1rem;
  background: none;
}

.form-group label {
  font-size: 1.1rem;
  color: #3066be;
}

.conti-1, 
.conti-2, 
.conti-3 {
  padding: 0.625rem 1.875rem;
  margin-top: 0.625rem;
  font-size: 1rem;
  background-color: #3066be;
  color: white;
  border: none;
  border-radius: 30px;
  opacity: 0.3;
  cursor: not-allowed;
}

.back {
  padding: 0.625rem 1.875rem;
  margin-top: 0.625rem;
  font-size: 1rem;
  background-color: #c7c7c7;
  color: black;
  border: none;
  border-radius: 30px;
  opacity: 0.3;
  cursor: not-allowed;
}

button:enabled {
  opacity: 1;
  cursor: pointer;
}

.error {
  border-bottom: 1px solid red;
}

/* Barra de progreso */
.progress-bar {
  max-width: 50rem;
  display: flex;
  margin: 4rem 13%;
}

.bot-icon-1,
.bot-icon-2,
.bot-icon-3 {
  font-size: 1.875rem;
  color: #c7c7c7;
  cursor: pointer;
  transition: color 0.5s linear; /* Animación suave al cambiar de color */
}

.bot-icon-1.active,
.bot-icon-2.active,
.bot-icon-3.active {
  color: #0254b7;
}

.step-1 {
  position: relative;
  width: 15.625rem;
}

/* Líneas de conexión entre los pasos */
.line-1,
.line-2,
.line-3 {
  height: 0.125rem;
  width: 12.5rem;
  position: absolute;
  top: 50%;
  left: 2.5rem;
  background-color: #c7c7c7;
  transition: background-color 0.5s linear; /* Animación suave para el color */
}

.line-1.active,
.line-2.active,
.line-3.active {
  background-color: #0254b7;
}


button {
  margin-right: 10px;
}

.small-container {
  width: 60%; /* Ajusta este valor según tus necesidades */
}

.disabled-icon {
  cursor: not-allowed;
  pointer-events: none;
}

.progress-final{
  display: none;
}

.transition{
  transition: background-color 1s linear;
}

@media (max-width: 68.125rem) {
  :host {
    background-image: none;
  }
  .form-group input {
    width: 90%;
  }
  .line-1, 
  .line-2, 
  .line-3 {
    width: 70%;
  }
  .progress-bar {
    max-width: 35rem;
  }
}
@media (max-width: 40rem) {
  .form-group input {
    width: 100%;
  }
  .line-1, 
  .line-2, 
  .line-3 {
    width: 50%;
  }
}
@media (max-width: 22.5rem) {
  .line-1, 
  .line-2, 
  .line-3 {
    display: none;
  }
}