<div class="body">
  <div class="formulario">
    <!-- Form 1: Datos personales -->
    <div *ngIf="currentStep === 1" class="form-1">
      <div class="container">
        <h1><i class="fa fa-user-o"></i>&nbsp; Datos personales </h1>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="input_1" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" id="apellidos" class="input_1" [(ngModel)]="apellidos" required>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" id="telefono" class="input_1" [(ngModel)]="telefono" required>
        </div>
        <button class="conti-1" (click)="nextStep()" [disabled]="!isForm1Valid()">Siguiente &nbsp;></button>
      </div>
    </div>

    <!-- Form 2: Ubicación -->
<div *ngIf="currentStep === 2" class="form-2">
  <div class="container" [ngClass]="{'transition': currentStep === 2}">
    <h1><i class="fa fa-compass"></i>&nbsp; Ubicación </h1>
    <!-- Select para País -->
    <div class="form-group">
      <label for="pais">País</label>
      <select id="pais" class="input_2" [(ngModel)]="pais" required>
        <option value="" disabled selected>Selecciona tu país</option>
        <option value="Mexico">México</option>
        <option value="USA">Estados Unidos</option>
        <option value="Canada">Canadá</option>
        <!-- Puedes agregar más opciones aquí -->
      </select>
    </div>

    <!-- Select para Estado -->
    <div class="form-group">
      <label for="estado">Estado</label>
      <select id="estado" class="input_2" [(ngModel)]="estado" required>
        <option value="" disabled selected>Selecciona tu estado</option>
        <option value="Hidalgo">Hidalgo</option>
        <option value="CDMX">Ciudad de México</option>
        <option value="Nuevo Leon">Nuevo León</option>
        <!-- Puedes agregar más opciones aquí -->
      </select>
    </div>

    <!-- Select para Municipio -->
    <div class="form-group">
      <label for="municipio">Municipio</label>
      <select id="municipio" class="input_2" [(ngModel)]="municipio" required>
        <option value="" disabled selected>Selecciona tu municipio</option>
        <option value="Pachuca">Pachuca</option>
        <option value="Ecatepec">Ecatepec</option>
        <option value="Guadalajara">Guadalajara</option>
        <!-- Puedes agregar más opciones aquí -->
      </select>
    </div>

      <button class="back" (click)="previousStep()"><&nbsp; Anterior</button>
      <button class="conti-2" (click)="nextStep()" [disabled]="!isForm2Valid()">Siguiente &nbsp;></button>
    </div>
  </div>

    <!-- Form 3: Completa tu cuenta -->
    <div *ngIf="currentStep === 3" class="form-3">
      <div class="container" >
        <h1><i class="fa fa-list-alt"></i>&nbsp; Completa tu cuenta </h1>
        <div class="form-group">
          <label for="fechaNacimiento">Fecha de nacimiento</label>
          <input type="text" id="fechaNacimiento" class="input_3" [(ngModel)]="fechaNacimiento" required>
        </div>
        <div class="form-group">
          <label for="correo">Correo electrónico</label>
          <input type="text" id="correo" class="input_3" [(ngModel)]="correo" required>
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <input type="password" id="contrasena" class="input_3" [(ngModel)]="contrasena" required>
        </div>
        <button class="back" (click)="previousStep()"><&nbsp; Anterior</button>
        <button class="conti-3" (click)="nextStep()" [disabled]="!isForm3Valid()">Siguiente &nbsp;></button>
      </div>
    </div>

    <!-- Form 4: Felicitaciones -->
    <div *ngIf="currentStep === 4" class="form-4">
      <div class="container" [ngClass]="{'small-container': currentStep === 4}">
        <h1>¡Felicidades! Tu cuenta en Manos a la obra esta lista...</h1>
        <button (click)="finishRegister()" class="conti-3" (click)="nextStep()" [disabled]="!isForm3Valid()">Continuar</button>
      </div>
    </div>
  </div>

  <!-- Barra de progreso (desaparece en el paso 4) -->
  <div class="progress-bar" [ngClass]="{ 'progress-final': currentStep === 4 }">
      <div class="step-1">
        <i class="fa fa-user-o bot-icon-1" 
           (click)="currentStep !== 4 ? goToStep(1) : null"
           [class.active]="currentStep >= 1"></i>
        <div class="line-1" [ngStyle]="{'background-color': currentStep > 1 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-compass bot-icon-2" 
           (click)="currentStep !== 4 ? goToStep(2) : null"
           [class.active]="currentStep >= 2"></i>
        <div class="line-2" [ngStyle]="{'background-color': currentStep > 2 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <div class="step-1">
        <i class="fa fa-list-alt bot-icon-3" 
           (click)="currentStep !== 4 ? goToStep(3) : null"
           [class.active]="currentStep >= 3"></i>
        <div class="line-3" [ngStyle]="{'background-color': currentStep > 3 ? '#0254b7' : '#c7c7c7'}"></div>
      </div>
      <!-- Barra de progreso final (aparece en el paso 4) -->
      <div class="step-1" *ngIf="currentStep === 4">
        <div class="line-1" [ngStyle]="{'background-color': '#0254b7'}"></div>
        <i  class="fa fa-check" 
            [class.active]="currentStep >= 4"></i>
      </div>
  </div>
