<header>
  <img class="logo" src="logoblanco.png" alt="Logo">
  <button id="abrir" class="abrir-menu" (click)="toggleMenu()"><i class="fas fa-bars"></i></button>
  <nav class="nav" id="nav" [class.visible]="menuOpen">
    <button class="cerrar-menu" id="cerrar" (click)="toggleMenu()"><i class="fas fa-times"></i></button>
    
    <!-- Información del usuario autenticado -->
    <div class="user-info" *ngIf="isAuthenticated">
      <p class="user-email">{{ user.email }}</p>
    </div>
    
    <ul class="nav-list">
      <!-- Enlace de Inicio -->
      <li><a routerLink="/nosotros">Inicio</a></li>

      <!-- Mostrar "Empleos" si el usuario no está autenticado -->
      <li *ngIf="!isAuthenticated">
        <a routerLink="/usuario">Empleos</a>
      </li>

      <!-- Mostrar "Mis empleos" si el usuario es una Empresa y está autenticado -->
      <li *ngIf="isAuthenticated && user.rol === 'Empresa'">
        <a routerLink="/empresa">Mis empleos</a>
      </li>

      <!-- Mostrar "Empleos" si el usuario está autenticado y en la ruta de perfil -->
      <li *ngIf="isAuthenticated && isOnProfilePage() && user.rol !== 'Empresa'">
        <a routerLink="/usuario">Empleos</a>
      </li>

      <!-- Opciones de autenticación -->
      <ng-container *ngIf="!isAuthenticated">
        <li><a href="/auth/login">Iniciar sesión</a></li>
        <li><a href="/auth/select-register">Regístrate</a></li>
      </ng-container>

      <!-- Menú desplegable para el usuario autenticado -->
      <ng-container *ngIf="isAuthenticated">
        <li class="dropdown">
          <a href="#" id="perfil" class="perfil" (click)="navigateToProfile(); $event.preventDefault(); toggleProfileMenu($event)">Perfil</a>
          <ul class="dropdown-content" [class.active]="profileMenuOpen">
            <li><a href="usuario/perfil">Configuración</a></li>
            <li><a href="#" class="logout" (click)="logout()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>