<div class="profile-container" #profileContainer>
  <div class="section perfilData">
    <!-- Información del usuario -->
    <div class="profile-photo">
      <img src="/carrusel3.png" alt="Foto de Perfil" />
    </div>

    <div class="separator-container">
      <hr class="separator" />
      <span class="separator-icon"><i class="fa fa-angle-down"></i></span> <!-- Icono al lado derecho -->
    </div>
    <div class="section-content visible">
      <p>John</p>
      <p>Doe</p>
      <p>johndoe&#64;example.com</p>
      <p>27/10/2024</p>
      <p>1234567890</p>
    </div>
    
    <div class="separator-container">
      <hr class="separator" />
      <span class="separator-icon"><i class="fa fa-angle-down"></i></span> <!-- Icono al lado derecho -->
    </div>
    <div class="section-content visible">
      <p>Ciudad de México</p>
      <p>Azcapotzalco</p>
      <p>Centro</p>
    </div>
    
    <div class="separator-container">
      <hr class="separator" />
      <span class="separator-icon"><i class="fa fa-angle-down"></i></span> <!-- Icono al lado derecho -->
    </div>
    <div class="section-content visible">
      <p>Desarrollo web, análisis de datos</p>
      <p>Apasionado por la tecnología y el desarrollo de software.</p>
    </div>    
  </div>

  <div class="section editData">
    <!-- Sección para editar los datos del usuario -->
    <h2>Editar Perfil</h2>

    <!-- Empleos -->
    <div class="separator-containerE">
      <p>Datos personales</p>
      <hr class="separatorE" />
      <span class="separator-iconE"><i class="fa fa-angle-down"></i></span> <!-- Icono al lado derecho -->
    </div>
    <div class="section-content visible">
      <div class="form-row">
        <div class="form-group">
          <label *ngIf="!nombreTouched || isNotEmpty(nombre)" for="nombre">Nombre</label>
          <label *ngIf="nombreTouched && !isNotEmpty(nombre)" for="nombre" class="error">
            Debes agregar un nombre!
          </label>
          <input id="nombres" type="text" [(ngModel)]="nombre" (blur)="nombreTouched = true" />
        </div>
        <div class="form-group">
          <label *ngIf="!apellidosTouched || isNotEmpty(apellidos)" for="apellidos">Apellido</label>
          <label *ngIf="apellidosTouched && !isNotEmpty(apellidos)" for="apellidos" class="error">
            Debes agregar apellidos!
          </label>
          <input id="apellido" type="text" [(ngModel)]="apellidos" (blur)="apellidosTouched = true" />
        </div>
      </div>
    </div>

    <!-- DATOS PERSONALES -->
    <div class="separator-containerE">
      <p>Datos personales</p>
      <hr class="separatorE" />
      <span class="separator-iconE"><i class="fa fa-angle-down"></i></span> <!-- Icono al lado derecho -->
    </div>
    <div class="section-content visible">
      <div class="form-row">
        <div class="form-group">
          <label *ngIf="!nombreTouched || isNotEmpty(nombre)" for="nombre">Nombre</label>
          <label *ngIf="nombreTouched && !isNotEmpty(nombre)" for="nombre" class="error">
            Debes agregar un nombre!
          </label>
          <input id="nombres" type="text" [(ngModel)]="nombre" (blur)="nombreTouched = true" />
        </div>
        <div class="form-group">
          <label *ngIf="!apellidosTouched || isNotEmpty(apellidos)" for="apellidos">Apellido</label>
          <label *ngIf="apellidosTouched && !isNotEmpty(apellidos)" for="apellidos" class="error">
            Debes agregar apellidos!
          </label>
          <input id="apellido" type="text" [(ngModel)]="apellidos" (blur)="apellidosTouched = true" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label *ngIf="isPhoneValid(telefono) || !telefonoTouched" for="telefono">Teléfono</label>
          <label *ngIf="!isPhoneValid(telefono) && telefonoTouched" for="telefono" class="error">
            El teléfono debe tener 10 dígitos!.
          </label>
          <input id="telefono" type="tel" [(ngModel)]="telefono" (blur)="telefonoTouched = true"/>
        </div>
        <div class="form-group">
          <label *ngIf="!fechaNacimientoTouched || isNotEmpty(fechaNacimiento)" for="fechaNacimiento">Fecha de Nacimiento</label>
          <label *ngIf="fechaNacimientoTouched && !isNotEmpty(fechaNacimiento)" for="fechaNacimiento" class="error">
            Debes agregar una fecha de nacimiento!.
          </label>
          <input id="fechaNacimiento" type="date" [(ngModel)]="fechaNacimiento" (blur)="fechaNacimientoTouched = true" />
        </div>
      </div>
    </div>

    <!-- UBICACIÓN -->
    <div class="separator-containerE">
      <p>Ubicación</p>
      <hr class="separatorE" />
      <span class="separator-iconE"><i class="fa fa-angle-down"></i></span> <!-- Icono al lado derecho -->
    </div>
    <div class="section-content visible">
      <div class="form-group">
        <label *ngIf="!estadoTouched || isNotEmpty(estado)" for="estado">Estado</label>
        <label *ngIf="estadoTouched && !isNotEmpty(estado)" for="estado" class="error">
          Debes seleccionar un estado!
        </label>
        <select id="estado" [(ngModel)]="estado" (change)="onEstadoChange(estado)" (blur)="estadoTouched = true" required>
          <option value="" disabled selected>Selecciona tu estado</option>
          <option *ngFor="let estado of estados" [value]="estado.cvegeo">{{ estado.nomgeo }}</option>
        </select>
      </div>

      <!-- Select para Municipio -->
      <div class="form-group">
        <label *ngIf="!municipioTouched || isNotEmpty(municipio)" for="municipio">Municipio</label>
        <label *ngIf="municipioTouched && !isNotEmpty(municipio)" for="municipio" class="error">
          Debes seleccionar un municipio!
        </label>
        <select id="municipio" [(ngModel)]="municipio" (change)="onMunicipioChange(municipio)" (blur)="municipioTouched = true" required>
          <option value="" disabled selected>Selecciona tu municipio</option>
          <option *ngFor="let municipio of municipios" [value]="municipio.cvegeo">{{ municipio.nomgeo }}</option>
        </select>
      </div>

      <!-- Select para Localidad -->
      <div class="form-group">
        <label *ngIf="!localidadTouched || isNotEmpty(localidad)" for="localidad">Localidad</label>
        <label *ngIf="localidadTouched && !isNotEmpty(localidad)" for="localidad" class="error">
          Debes seleccionar una localidad!
        </label>
        <select id="localidad" [(ngModel)]="localidad" (blur)="localidadTouched = true" required>
          <option value="" disabled selected>Selecciona tu localidad</option>
          <option *ngFor="let localidad of localidades" [value]="localidad.cvegeo">{{ localidad.nomgeo }}</option>
        </select>
      </div>
    </div>

    <!-- CREDENCIALES -->
    <div class="separator-containerE">
      <p>Credenciales</p>
      <hr class="separatorE" />
      <span class="separator-iconE"><i class="fa fa-angle-down"></i></span> <!-- Icono al lado derecho -->
    </div>
    <div class="section-content visible">
      <div class="form-row">
        <div class="form-group">
          <label *ngIf="isEmailValid(correo) || !emailTouched" for="correo">Correo</label>
          <label *ngIf="!isEmailValid(correo) && emailTouched" for="correo" class="error">
            El correo no es válido. Debe contener "&#64;" y un formato válido!
          </label>
          <input id="correo" type="email" [(ngModel)]="correo" (blur)="emailTouched = true"/>
        </div>
        <div class="form-group">
          <label *ngIf="isCodigoValid(codigoInp, this.verificationCode) || !codigoInpTouched" for="codigoInp">Código de verificación</label>
          <label *ngIf="!isCodigoValid(codigoInp, this.verificationCode) && codigoInpTouched" for="codigoInp" class="error">
            El código no es valido!
          </label>
          <input id="codigoInp" type="text" [(ngModel)]="codigoInp" (blur)="codigoInpTouched = true" />
        </div>
      </div>
      <div class="form-group button-group">
        <button class="sendEmail" (click)="sendEmail()" [disabled]="!isEmailValid(correo) || emailButtonClicked || isLoading" >
          {{ emailButtonClicked ? 'Revisa tu Correo (6m)' : 'Enviar código' }}
        </button>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label *ngIf="isPasswordValid(contrasena) || !passwordTouched" for="contrasena">Contraseña</label>
          <label *ngIf="!isPasswordValid(contrasena) && passwordTouched" for="contrasena" class="error">
            La contraseña debe tener al menos 6 caracteres!
          </label>
          <input id="contrasena" type="password" [(ngModel)]="contrasena" (blur)="passwordTouched = true"/>
        </div>
        <div class="form-group">
          <label *ngIf="doPasswordsMatch(contrasena, confirmPass) || !confirmPassTouched" for="confirmPass">Confirmar Contraseña</label>
          <label *ngIf="!doPasswordsMatch(contrasena, confirmPass) && confirmPassTouched" for="confirmPass" class="error">
            Las contraseñas no coinciden!
          </label>
          <input id="confirmPass" type="password" [(ngModel)]="confirmPass" (blur)="confirmPassTouched = true" required />
        </div>
      </div>
    </div>
  </div>
</div>
