<div class="features-section">
    <div class="feature-item">
        <img src="1.svg" alt="Empresas seguras" class="feature-icon">
        <p>Empresas seguras</p>
    </div>
    <div class="feature-item">
        <img src="2.svg" alt="100+ Empleos" class="feature-icon">
        <p>100+ Empleos</p>
    </div>
    <div class="feature-item">
        <img src="3.svg" alt="Fácil de usar" class="feature-icon">
        <p>Fácil de usar</p>
    </div>
    <div class="feature-item">
        <img src="4.svg" alt="Regístrate" class="feature-icon">
        <p>Regístrate</p>
    </div>
    <div class="feature-item">
        <img src="5.svg" alt="Busca" class="feature-icon">
        <p>Busca</p>
    </div>
    <div class="feature-item">
        <img src="6.svg" alt="Sin necesidad de estudios" class="feature-icon">
        <p>Sin necesidad de estudios</p>
    </div>
</div>
