/* Asegúrate de que el contenedor principal esté configurado para usar flex */
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
}

