<div class="container" id="container">
    <div class="overlay__container" id="overlayContainer">
      <div class="overlay__wrapper">
        <div class="overlay__panel overlay__panel__left">
          <h1>Registrate como usuario</h1>
          <p>
            Registrate y comienza a buscar un ¡mejor futuro!
          </p>
          <button>Registrate</button>
        </div>
        <div class="overlay__panel overlay__panel__right">
          <h1>Registra una empresa</h1>
          <p>Ingresa los datos de tu empresa y comienza a generar oportunidades</p>
          <button>Agregar empresa</button>
        </div>
      </div>
      <button id="overlayBtn"></button>
    </div>
</div>