<div class="carousel-container">
    <!-- Carrusel -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="carrusel.png" class="d-block w-100" alt="First Slide">
            </div>
            <div class="carousel-item">
                <img src="assets/img2.jpg" class="d-block w-100" alt="Second Slide">
            </div>
            <div class="carousel-item">
                <img src="assets/img3.jpg" class="d-block w-100" alt="Third Slide">
            </div>
        </div>
    </div>

    <!-- Barra de búsqueda superpuesta -->
    <div class="search-bar">
        <h1>Encuentra el mejor <span>empleo</span> para ti</h1>
        <div class="search-container">
            <input type="text" placeholder="Buscar..." class="search-input">
            <button class="search-btn">Buscar</button>
        </div>
    </div>
</div>
<div class="features-section">
    <div class="feature-item">
        <img src="1.svg" alt="Empresas seguras" class="feature-icon">
        <p>Empresas seguras</p>
    </div>
    <div class="feature-item">
        <img src="2.svg" alt="100+ Empleos" class="feature-icon">
        <p>100+ Empleos</p>
    </div>
    <div class="feature-item">
        <img src="3.svg" alt="Fácil de usar" class="feature-icon">
        <p>Fácil de usar</p>
    </div>
    <div class="feature-item">
        <img src="4.svg" alt="Regístrate" class="feature-icon">
        <p>Regístrate</p>
    </div>
    <div class="feature-item">
        <img src="5.svg" alt="Busca" class="feature-icon">
        <p>Busca</p>
    </div>
    <div class="feature-item">
        <img src="6.svg" alt="Sin necesidad de estudios" class="feature-icon">
        <p>Sin necesidad de estudios</p>
    </div>
</div>
<app-nosotros></app-nosotros>