<header>
  <img class="logo" src="logoblanco.png" alt="Logo">
  <button id="abrir" class="abrir-menu" (click)="toggleMenu()"><i class="fas fa-bars"></i></button>
  <nav class="nav" id="nav" [class.visible]="menuOpen">
    <button class="cerrar-menu" id="cerrar" (click)="toggleMenu()"><i class="fas fa-times"></i></button>
    <!-- Información del usuario solo visible si está autenticado -->
    <div class="user-info" *ngIf="isAuthenticated">
      <p class="user-email">{{ user.email }}</p>
    </div>
    <ul class="nav-list">
      <li><a routerLink="/nosotros">Nosotros</a></li>
      <!-- Opciones si NO está autenticado -->
      <ng-container *ngIf="!isAuthenticated">
        <li><a routerLink="/auth/login">Iniciar sesión</a></li>
        <li><a routerLink="/auth/sign-up">Regístrate</a></li>
      </ng-container>
      <!-- Opciones si está autenticado -->
      <ng-container *ngIf="isAuthenticated">
        <li class="dropdown">
          <a href="#" id="perfil" class="perfil" (click)="toggleProfileMenu($event)">Perfil</a>
          <ul class="dropdown-content" [class.active]="profileMenuOpen">
            <li><a routerLink="/configuracion">Configuración</a></li>
            <li><a href="#" class="logout" (click)="logout()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>