<div class="backdrop" [class.active]="menuOpen"></div>
<nav class="navbarEmpleos">
  <div class="brand">
    <img src="logoblanco.png" alt="Logo" class="logo">
  </div>
  <div class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/">Sobre nosotros</a></li>
    <ng-container *ngIf="!isAuthenticated">
      <li><a routerLink="/auth/login">Acceder</a></li>
      <li><a routerLink="/auth/sign-up">Regístrate</a></li>
    </ng-container>
    <ng-container *ngIf="isAuthenticated">
      <li><a (click)="toggleProfileMenu($event)">Perfil</a></li> <!-- Añadimos el evento click -->
    </ng-container>
  </ul>
  <!-- Menú desplegable cuando se hace clic en "Perfil" -->
  <ul class="profile-menu" [class.active]="profileMenuOpen">
    <li><a routerLink="/configuracion">Configuración</a></li>
    <li><a (click)="logout()">Cerrar sesión</a></li>
  </ul>
</nav>